body {
    margin:0;
    font-family:'Raleway';
}

header {
    background: #03a9f4;
    padding-bottom: 20px;
}

.logo {
     color: #fff;
     font-size: 50px;
     font-family: 'Raleway';
     text-align: center;
     padding-top: 30px;
     padding-bottom: 15px;
}

header input{
    font-size: 20px;
    margin: auto;
    display: flex;
    justify-content: center;

}

.news_item{
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
}